* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-feature-settings: "locl" 0;
  background: #FFFFFF;
  position: relative;
}

.container {
  max-width: 1140px;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk-regular-web.woff2") format("woff2"), url("../fonts/hkgrotesk-regular-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk-light-web.woff2") format("woff2"), url("../fonts/hkgrotesk-light-web.woff") format("woff");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk-bold-web.woff2") format("woff2"), url("../fonts/hkgrotesk-bold-web.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk-medium-web.woff2") format("woff2"), url("../fonts/hkgrotesk-medium-web.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.hidden {
  overflow: hidden;
}

.none {
  display: none;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 11px;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 4px;
}

hr {
  max-width: 1150px;
  border: 1px solid #E5EAF4;
}

.invalid {
  position: relative;
  color: #183B56;
  border-bottom: 1px solid #183B56;
  font-size: 13px;
}

.error {
  position: relative;
  color: #fffccc;
  border-bottom: 1px solid #fffccc;
  font-size: 13px;
}

#sub_mail-error {
  bottom: -60px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media (min-width: 992px) {
  button {
    transition: 0.4s;
  }
  button:hover {
    box-shadow: 0 0 12px #1565D8;
    color: #1565D8;
    cursor: pointer;
  }
  a {
    transition: 0.4s;
  }
  a:hover {
    color: #1565D8;
  }
  .trending__last-item--description:hover {
    color: #fffccc;
  }
}

button {
  padding: 12px 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1565D8;
  background-color: inherit;
  border-radius: 8px;
  border: 2px solid #1565D8;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 200;
}

.to-top__image {
  transform: rotate(-90deg);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  padding: 25px 0 57px 0;
  background-color: #FFFFFF;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__mobile-menu {
  display: none;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar__button {
  padding: 12px 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1565D8;
  background-color: inherit;
  border-radius: 8px;
  border: 2px solid #1565D8;
  outline: none;
  cursor: pointer;
}

.navbar__link {
  color: #183B56;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  margin-right: 40px;
}

.navbar__link:last-child {
  margin-right: 0;
}

.navbar__menu-button {
  display: none;
}

.hero-container {
  max-width: 1280px;
  margin: auto;
  padding: 71px 0 46px 107px;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: 65% 0;
  border-radius: 8px;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__icon {
  width: 36px;
  height: 36px;
}

.hero__hashtag {
  padding: 6px 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #36B37E;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  margin-bottom: 28px;
}

.hero__title {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  color: #183B56;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 28px;
}

.hero__description {
  display: block;
  max-width: 652px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin-bottom: 75px;
}

.hero__link {
  padding: 18px 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  background: #183B56;
  border-radius: 8px;
  color: #FFFFFF;
  outline: none;
  border: none;
  text-decoration: none;
  margin-bottom: 54px;
}

.hero__list {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.hero__item {
  margin-right: 30px;
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
}

.hero__icon-wrapper {
  display: flex;
  align-items: center;
}

.hero__icon {
  margin-right: 8px;
}

.hero-container {
  max-width: 1280px;
  margin: auto;
  padding: 71px 0 46px 107px;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: 65% 0;
  border-radius: 8px;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__icon {
  width: 36px;
  height: 36px;
}

.hero__hashtag {
  padding: 6px 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #36B37E;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  margin-bottom: 28px;
}

.hero__title {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  color: #183B56;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 28px;
}

.hero__description {
  display: block;
  max-width: 652px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin-bottom: 75px;
}

.hero__link {
  padding: 18px 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  background: #183B56;
  border-radius: 8px;
  color: #FFFFFF;
  outline: none;
  border: none;
  text-decoration: none;
  margin-bottom: 54px;
}

.hero__list {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.hero__item {
  margin-right: 30px;
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
}

.hero__icon-wrapper {
  display: flex;
  align-items: center;
}

.hero__icon {
  margin-right: 8px;
}

.collection {
  padding: 120px 0 107px 0;
}

.collection-container {
  max-width: 1140px;
  margin: auto;
}

.collection__wrapper {
  display: flex;
}

.collection__photos {
  display: flex;
  justify-content: space-between;
  margin-right: 57px;
}

.collection__small-cards--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collection__photo--first {
  width: 320px;
  height: 490px;
  border-radius: 8px;
  object-fit: cover;
}

.collection__photo--second, .collection__photo--third {
  width: 320px;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
}

.collection__base-first {
  margin-right: 30px;
}

.collection__content {
  max-width: 412px;
}

.collection__title {
  font-family: 'HKGrotesk';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #183B56;
  letter-spacing: 0.2px;
  margin-top: 0;
}

.collection__text {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  max-width: 360px;
  margin-top: 36px;
}

.collection__show {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #1565D8;
  margin-top: 32px;
}

.collection__show-link {
  text-decoration: none;
  color: inherit;
}

.collection__icon {
  margin-left: 20px;
}

.trending {
  padding: 29px 0 102px 0;
}

.trending-container {
  max-width: 1135px;
  margin: auto;
}

.trending__category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px;
}

.trending__title {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #183B56;
  letter-spacing: 0.2px;
  margin: 0;
}

.trending__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.trending__list:first-child {
  color: #183B56;
  font-weight: bold;
}

.trending__item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-right: 38px;
  cursor: default;
  color: #5A7184;
}

.trending__item--active {
  font-weight: bold;
  color: #183B56;
}

.trending__item:last-child {
  margin-right: 0;
}

.trending__link {
  text-decoration: none;
  color: #5A7184;
  cursor: pointer;
}

.trending__link--active {
  color: #183B56;
}

.trending__photo {
  width: 260px;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
}

.trending__photos-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  display: none;
}

.trending__photos-wrapper--active {
  display: grid;
}

.trending__photos-item {
  max-height: 441px;
  margin-bottom: 50px;
}

.trending__photos-item--last {
  height: 350px;
  background-color: #1565D8;
  border-radius: 8px;
}

.trending__photos-title {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 10px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.trending__price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
}

.trending__price-wrapper {
  max-width: 259px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.trending__last-logo {
  margin-bottom: 25px;
}

.trending__last-item--description {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 23px;
}

.trending__photos-item--last {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
}

.mobile {
  padding: 36px 24px;
  position: fixed;
  z-index: 200;
  top: 0px;
  right: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 10px 16px 48px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.mobile--visible {
  visibility: visible;
  overflow: auto;
}

.mobile__link {
  color: #183B56;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  margin-bottom: 20px;
}

.mobile__link--button {
  width: 100%;
}

.mobile__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile__button {
  width: 100%;
}

.mobile__image {
  position: absolute;
  width: 24px;
  right: 16px;
  top: 12px;
}

.reviews {
  padding: 0 0 70px 0;
}

.reviews-container {
  width: 800px;
}

.reviews-slider {
  width: 800px;
}

.reviews-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  height: 100%;
  padding-bottom: 68px;
}

.reviews-slider__text {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 42px;
  color: #183B56;
  text-align: center;
  overflow: auto;
  margin: auto;
  overflow-y: auto;
  max-height: 168px;
  margin-top: 38px;
  margin-bottom: 28px;
}

.reviews-slider__author {
  color: #183B56;
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.stories {
  padding-bottom: 120px;
}

.stories-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E5EAF4;
  padding-top: 130px;
}

.stories-slide {
  width: 100%;
}

.stories-slider-navigations {
  display: flex;
}

.stories-slider-button {
  width: 54px;
  height: 56px;
  border: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin-right: 22px;
}

.stories-slider-button--disabled {
  opacity: 0.2;
  cursor: pointer;
}

.stories-slider-button--prev {
  border: none;
  border-radius: 50%;
}

.stories-slider-button--next {
  margin: 0;
  width: 56px;
  border-radius: 50%;
}

.stories-slider-button--next--disabled {
  width: 56px;
  cursor: auto;
}

.stories-slider-button--next--disabled:hover {
  background-color: transparent;
}

.stories__info {
  width: 392px;
}

.stories__hashtag {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #36B37E;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  padding: 6px 16px;
}

.stories__title {
  font-family: "HKGrotesk";
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-top: 28px;
  margin-bottom: 24px;
}

.stories__subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin-bottom: 48px;
}

.stories__items {
  width: 662px;
}

.stories-swiper {
  width: 100%;
}

.stories-swiper-slide {
  width: 100%;
}

.stories-slider_img {
  position: relative;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
  overflow: hidden;
  height: 317px;
  width: 312px;
}

.stories-slider_item {
  display: flex;
  justify-content: space-between;
}

.stories-slider_info {
  background-color: #FAFDFF;
  position: relative;
  top: -22px;
  right: -6px;
  width: 312px;
  padding-bottom: 20px;
}

.stories-slider_left {
  width: 322px;
  margin-right: 28px;
}

.stories-slider_right {
  width: 322px;
  margin-right: 28px;
}

.stories-slider_title {
  font-family: "HKGrotesk";
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  width: 260px;
  padding-top: 20px;
  padding-left: 26px;
  margin-bottom: 18px;
}

.stories-slider_next {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding-left: 30px;
  color: #1565D8;
}

.stories-swiper {
  width: 652px;
  margin: 0;
}

.newsletter {
  position: relative;
  padding: 63px 0 99px 0;
  background-color: #1565D8;
}

.newsletter-container {
  max-width: 1150px;
  margin: auto;
}

.newsletter-wrapper {
  max-width: 1083px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter__text {
  max-width: 436px;
}

.newsletter__title {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.newsletter__description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.newsletter__form {
  width: 447px;
  height: 56px;
  position: relative;
  margin-top: 30px;
}

.newsletter__input {
  position: absolute;
  height: 100%;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
  padding-left: 48px;
  padding-right: 190px;
  overflow: visible;
  border-radius: 8px;
  border: none;
  outline: none;
}

.newsletter__icon {
  width: 16px;
  position: absolute;
  left: 20px;
  top: 22px;
  z-index: 1;
}

.newsletter__button {
  position: absolute;
  padding: 11px 27px;
  background-color: #183B56;
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  top: 4px;
  right: 4px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: visible;
}

.footer {
  padding: 129px 0 280px 0;
}

.footer-container {
  max-width: 1140px;
  margin: auto;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1042px;
}

.footer__logo {
  width: 90px;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #5A7184;
  display: block;
  margin-top: 28px;
  margin-bottom: 28px;
  max-width: 263px;
}

.footer__social-links {
  text-decoration: none;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, 165px);
  grid-gap: 30px;
}

.footer__menu-group {
  display: flex;
  flex-direction: column;
}

.footer__menu-group--links {
  flex-basis: 263px;
}

.footer__menu-li {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
}

.greetings-container {
  margin: auto;
  max-width: 1150px;
}

.greetings__button {
  padding: 12px 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1565D8;
  background-color: inherit;
  border-radius: 8px;
  border: 2px solid #1565D8;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 478px;
  padding: 33px 88px;
  background-color: #FFFFFF;
  color: #183B56;
  border-radius: 8px;
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  text-decoration: none;
  cursor: pointer;
  background-color: #E5EAF4;
}

.modal__icon {
  width: 20px;
}

.modal__input {
  width: 100%;
  margin-top: 15px;
  font-size: 13px;
  outline: none;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 4px;
}

.modal__message {
  width: 100%;
  min-height: 123px;
  margin-top: 15px;
  font-size: 13px;
  outline: none;
  padding: 0 10px;
}

.modal__button {
  margin-top: 15px;
  background-color: #E5EAF4;
  padding: 5px;
}

.modal__info {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.modal__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.modal__button {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width: 1200px) {
  .container,
  .collection-container,
  .trending-container,
  .stories__container,
  .newsletter-container,
  .footer-container,
  .greetings-container {
    max-width: 960px;
  }
  .hero-container {
    max-width: 1200px;
    padding-left: 45px;
  }
  .swiper-container {
    width: 850px;
  }
}

@media (max-width: 992px) {
  .container,
  .collection-container,
  .trending-container,
  .reviews-container,
  .greetings-container,
  .newsletter-container {
    max-width: 700px;
  }
  .footer-container {
    max-width: 700px;
  }
  .stories__container {
    max-width: 95%;
  }
  .hero-container {
    max-width: 900px;
    padding-left: 50px;
  }
  .navbar__link {
    margin-right: 20px;
  }
  .collection {
    padding-top: 77px;
  }
  .collection__wrapper {
    flex-wrap: wrap;
  }
  .collection__photos {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .collection__title {
    white-space: nowrap;
    margin-bottom: 25px;
  }
  .collection__text {
    max-width: 672px;
  }
  .swiper-container {
    width: 660px;
    margin: auto;
  }
  .stories-wrapper {
    display: block;
    padding-top: 88px;
  }
  .stories__info {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stories__title {
    margin-bottom: 16px;
    margin-top: 24px;
  }
  .stories__subtitle {
    width: 568px;
    margin: auto;
    margin-bottom: 36px;
  }
  .stories__items {
    margin: auto;
  }
  .newsletter-wrapper {
    flex-direction: column;
  }
  .newsletter__text {
    margin-bottom: 56px;
    text-align: center;
  }
  .footer-menu {
    flex-wrap: wrap;
  }
  .footer__nav {
    grid-template-columns: repeat(2, 165px);
  }
  .modal__container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
  }
  .modal__button {
    order: 5;
    margin-top: 15px;
  }
  .modal__dialog {
    padding-left: 50px;
    padding-right: 50px;
  }
  .to-top {
    display: none;
  }
}

@media (max-width: 690px) {
  .stories__container {
    max-width: 90%;
  }
  .stories__items {
    width: 73%;
  }
  .stories__subtitle {
    width: 100%;
  }
  .stories-slider_left {
    width: 280px;
    margin: 0;
    margin-bottom: 10px;
  }
  .stories-slider_right {
    width: 280px;
    margin: 0;
  }
  .stories-slider_info {
    width: 270px;
  }
  .stories-slider_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .stories-slider_next {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  .stories-slider_img {
    width: 270px;
  }
  .stories-slider_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .swiper-container {
    width: 100%;
  }
  .stories-slider_info {
    top: -18px;
  }
  .stories-slider_title {
    width: 266px;
    padding-left: 22px;
  }
  .stories-wrapper {
    padding-top: 40px;
  }
  .stories__info {
    margin-bottom: 18px;
  }
  .stories__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
  }
  .stories__title_visible {
    display: none;
  }
  .stories__subtitle {
    font-size: 16px;
    line-height: 28px;
  }
  .stories__button {
    width: 48px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 94px;
  }
  .header {
    padding-bottom: 38px;
  }
  .header__mobile--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150;
  }
  .header__mobile--navbar-hidden {
    z-index: 100;
  }
  .header__logo--hidden {
    display: none;
  }
  .container {
    max-width: 85%;
  }
  .collection {
    padding-top: 75px;
  }
  .collection-container {
    max-width: 87%;
  }
  .hero-container {
    max-width: 87%;
  }
  .reviews-container {
    max-width: 87%;
  }
  .footer-container {
    max-width: 87%;
  }
  .greetings-container {
    max-width: 87%;
  }
  .trending-container {
    max-width: 636px;
  }
  .navbar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    top: 87px;
  }
  .navbar--visible {
    padding-left: 24px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: auto;
  }
  .navbar__link--visible {
    margin-bottom: 20px;
  }
  .navbar__menu-button {
    display: flex;
    width: 22px;
    height: 18px;
    padding: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #fff;
  }
  .navbar__menu-button--hidden {
    display: none;
  }
  .menu-button__line {
    background-color: #3A4C66;
    width: 22px;
    height: 2px;
  }
  .hero-container {
    max-width: 95%;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 26px;
  }
  .hero__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
  }
  .hero__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    max-width: 400px;
    margin-bottom: 55px;
  }
  .hero__button {
    margin-bottom: 35px;
  }
  .collection {
    padding-top: 75px;
    padding-bottom: 58px;
  }
  .collection__content {
    max-width: 100%;
  }
  .collection__title {
    white-space: normal;
  }
  .collection__text {
    margin-top: 0;
  }
  .trending {
    padding-top: 19px;
    padding-bottom: 39px;
  }
  .trending__category-wrapper {
    flex-direction: column;
    margin-bottom: 57px;
  }
  .trending__title {
    margin-bottom: 28px;
  }
  .trending__photo {
    width: 280px;
  }
  .trending__photos-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0px;
  }
  .reviews-slider__item {
    padding-bottom: 40px;
  }
  .reviews-slider__text {
    max-width: 604px;
    max-height: 205px;
    margin-bottom: 33px;
  }
  .newsletter {
    padding-top: 41px;
    padding-bottom: 75px;
  }
  .newsletter__title {
    margin-bottom: 14px;
  }
  .newsletter__text {
    margin-bottom: 28px;
  }
  .footer {
    padding-top: 68px;
    padding-left: 12px;
  }
  .footer__nav {
    grid-template-columns: repeat(2, 165px);
  }
  .modal__dialog {
    width: 75%;
    padding: 15px 15px;
    overflow-y: auto;
    max-height: 100%;
  }
  .modal__input {
    font-size: 11px;
  }
  .modal__message {
    font-size: 11px;
    margin-bottom: 15px;
  }
  .stories {
    padding-bottom: 58px;
  }
  .stories-wrapper {
    padding-top: 78px;
  }
}

@media (max-width: 716px) {
  .footer__nav {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .trending__photos-wrapper {
    grid-column-gap: 0px;
  }
}

@media (max-width: 576px) {
  .hero__list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .collection {
    padding-top: 60px;
  }
  .trending-container {
    max-width: 88%;
  }
  .trending__title {
    font-size: 28px;
    line-height: 36px;
  }
  .trending__item {
    font-size: 16px;
    line-height: 22px;
    margin-right: 27px;
  }
  .trending__photos-item {
    max-height: 234px;
  }
  .trending__photos-item--last {
    width: 140px;
    height: 170px;
  }
  .trending__photos-title {
    font-size: 16px;
    line-height: 20px;
  }
  .trending__photo {
    width: 140px;
    height: 170px;
  }
  .trending__price {
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
  }
  .trending__price-wrapper {
    justify-content: flex-start;
  }
  .trending__photos-item {
    margin-bottom: 20px;
  }
  .trending__photos-item--last {
    padding-top: 41px;
  }
  .trending__last-item--description {
    font-size: 17px;
    line-height: 20px;
    padding-top: 0;
  }
  .trending__last-logo {
    width: 25px;
    margin-bottom: 16px;
  }
  .trending__shopping-icon {
    width: 14px;
    height: 32px;
  }
  .newsletter-container {
    max-width: 88%;
  }
  .newsletter__form {
    width: 100%;
    max-width: none;
  }
}

@media (max-height: 487px) {
  .modal__dialog {
    overflow: auto;
    max-height: 100%;
  }
  .mobile {
    overflow: auto;
    max-height: 100%;
  }
}

@media (max-width: 490px) {
  .collection__photo--first {
    width: 290px;
    height: 300px;
  }
  .collection__photo--second, .collection__photo--third {
    width: 138px;
    height: 97px;
  }
  .collection__title {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .collection__text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .collection__photos {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .collection__small-cards {
    flex-direction: row;
  }
  .collection__show {
    display: none;
  }
  .collection__base-first {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .collection__base-second {
    margin-right: 14px;
  }
  .trending-container {
    max-width: 92%;
  }
  .stories-wrapper {
    padding-top: 35px;
  }
  .stories-slider_left {
    width: 272px;
    margin-right: 0;
  }
  .stories-slider_right {
    width: 272px;
    margin-right: 0;
  }
}

@media (max-width: 390px) {
  .header {
    padding-top: 18px;
  }
  .hero-container {
    padding-top: 0;
    background-position: 80% 0%;
    max-width: 100%;
    min-height: 899px;
    text-align: center;
    padding-left: 0;
    background-image: linear-gradient(to bottom, rgba(220, 219, 217, 0), #dcdbd9), url(../img/hero-bg.png);
  }
  .hero__hashtag {
    text-align: center;
  }
  .hero__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 23px;
  }
  .hero__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    max-width: 280px;
    margin-bottom: 23px;
  }
  .hero__button {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 22px;
  }
  .hero__text {
    transform: translateY(75%);
    text-align: -webkit-center;
  }
  .hero__item {
    margin-right: 17px;
  }
  .hero__item--first, .hero__item--second {
    margin-bottom: 15px;
  }
  .hero__icon {
    width: 24px;
    height: 24px;
  }
  .reviews-slider__image {
    width: 70px;
  }
  .reviews-slider__text {
    margin-top: 19px;
    font-size: 18px;
    line-height: 36px;
    max-width: 264px;
    max-height: 357px;
    margin-bottom: 30px;
  }
  .reviews-slider__author {
    text-align: center;
    max-width: 145px;
  }
  .newsletter {
    padding-bottom: 125px;
  }
  .newsletter__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .newsletter__text {
    font-size: 16px;
    line-height: 28px;
  }
  .newsletter__input {
    padding-right: 20px;
  }
  .newsletter__button {
    display: block;
    position: relative;
    margin-top: 70px;
    margin-left: 3px;
    width: 100%;
  }
  .footer {
    padding-top: 48px;
  }
  .footer__nav {
    grid-template-columns: repeat(1, 165px);
  }
  .footer__info {
    order: 1;
    margin-top: 48px;
  }
  .footer__menu-group--links {
    align-items: center;
  }
  .footer__text {
    text-align: center;
  }
  .modal__container {
    flex-direction: row;
  }
  .modal__dialog {
    padding: 25px 25px;
  }
  .stories {
    margin-bottom: 45px;
  }
  .stories__title {
    margin-top: 19px;
  }
  .stories-slider-button {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 320px) {
  .hero__button {
    margin-bottom: 16px;
  }
  .hero__list {
    margin-top: 44px;
  }
  .hero__description {
    margin-top: -6px;
    margin-bottom: 29px;
    display: inline-block;
  }
  .hero__title {
    margin-top: 29px;
  }
  .hero__link {
    padding: 9px 42px;
  }
  .collection {
    padding-bottom: 50px;
  }
  .collection-container {
    max-width: 100%;
  }
  .trending {
    padding-top: 77px;
  }
  .trending__category-wrapper {
    margin-bottom: 36px;
  }
  .trending__item {
    margin-right: 27px;
  }
  .trending__photos-title {
    margin-top: 7px;
    margin-left: 0;
  }
  .trending__photos-item {
    margin-bottom: 21px;
  }
  .trending__shopping-icon {
    width: 14px;
    height: 32px;
  }
  .trending__photos-wrapper {
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }
  .trending__photos-item--last {
    padding-top: 41px;
  }
  .trending__last-item--description {
    font-size: 17px;
    line-height: 20px;
  }
  .trending__last-logo {
    width: 25px;
    margin-bottom: 16px;
  }
  .trending__price {
    display: inline-block;
    margin-top: -4px;
  }
  .trending__price-wrapper {
    margin-left: 0;
  }
  .stories {
    padding-bottom: 0px;
  }
  .stories-wrapper {
    padding-top: 21px;
  }
  .stories-slider_img {
    height: 277px;
  }
  .newsletter {
    padding-bottom: 113px;
  }
  .newsletter__description {
    font-size: 16px;
    line-height: 28px;
  }
  .newsletter__text {
    margin-bottom: 0px;
  }
  .newsletter__form {
    margin-top: 34px;
    height: 49px;
  }
  .newsletter__button {
    margin-top: 55px;
  }
  .footer {
    padding-left: 15px;
    padding-top: 26px;
  }
  .footer__nav {
    grid-gap: 15px;
  }
  .footer__title {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 15px;
  }
  .footer__link {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__menu-li {
    margin-bottom: 16px;
  }
  .footer__text {
    margin: 0;
    margin-bottom: 17px;
  }
  .footer__logo-link {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */