@media (max-width: 1200px)
  .container, .collection-container, .trending-container
    max-width: 960px
  .hero
    &-container
      max-width: 1200px
      padding-left: 45px
  .trending
    &__photos-wrapper
      justify-content: space-evenly

@media (max-width: 992px)
  .container,
  .collection-container,
  .trending-container
    max-width: 700px
  .hero
    &-container
      max-width: 900px
      padding-left: 50px
  .navbar
    &__link
      margin-right: 20px
  .collection
    padding-top: 77px
    &__wrapper
      flex-wrap: wrap
    &__photos
      margin-right: 0
      margin-bottom: 32px
    &__title
      white-space: nowrap
      margin-bottom: 25px
    &__text
      max-width: 672px

@media (max-width: 768px)
  body
    padding-top: 94px
  .header
    padding-bottom: 38px
    &__mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 150
    &__logo
      &--hidden
        display: none
  .container
    max-width: 85%
  .collection
    padding-bottom: 43px
    &-container
      max-width: 87%
  .navbar
    display: none
    position: fixed
    left: 0
    top: 0
    right: 0
    top: 87px
    &--visible
      padding-left: 24px
      display: block
      display: flex
      flex-direction: column
      align-items: start
      overflow: auto
    &__link
      &--visible
        margin-bottom: 20px
    &__menu-button
      display: flex
      width: 22px
      height: 18px
      padding: 0
      align-items: center
      flex-direction: column
      justify-content: space-between
      border: none
      cursor: pointer
      outline: none
      color: black
      background-color: #fff
      &--hidden
        display: none
  .menu-button
    &__line
      background-color: #3A4C66
      width: 22px
      height: 2px
  .hero
    &-container
      max-width: 95%
      padding-left: 20px
      padding-top: 45px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
    &__description
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      max-width: 400px
      margin-bottom: 36px
    &__button
      margin-bottom: 35px
  .collection
    &__content
      max-width: 100%
    &__title
      white-space: normal
  .trending
    &__category-wrapper
      flex-direction: column
      margin-bottom: 57px
    &__title
      margin-bottom: 28px
    &__photo
      width: 280px

@media (max-width: 576px)
  .hero
    &__list
      flex-wrap: wrap
      justify-content: space-evenly
  .collection
    padding-top: 60px
  .trending
    &__title
      font-size: 28px
      line-height: 36px
    &__item
      font-size: 16px
      line-height: 22px
      margin-right: 27px
    &__photos
      &-item
        max-height: 234px
        &--last
          width: 140px
          height: 170px
      &-title
        font-size: 16px
        line-height: 20px
    &__photo
      width: 140px
      height: 170px
    &__price
      font-size: 14px
      line-height: 24px
      margin-right: 9px
      &-wrapper
        justify-content: flex-start
    &__photos
      &-item--last
        padding-top: 41px
    &__last-item
      &--description
        font-size: 17px
        line-height: 20px
    &__last-logo
      width: 25px
      margin-bottom: 16px
    &__shopping-icon
      width: 14px
      height: 32px
@media (max-width: 490px)
  .collection
    &__photo--first
      width: 290px
      height: 300px
    &__photo--second, &__photo--third
      width: 138px
      height: 97px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
    &__text
      font-size: 16px
      line-height: 28px
      text-align: center
    &__photos
      flex-wrap: wrap
      justify-content: space-evenly
    &__small-cards
      flex-direction: row
    &__show
      display: none
    &__base-first
      margin-right: 0
      margin-bottom: 14px
    &__base-second
      margin-right: 14px

@media (max-width: 390px)
  .header
    padding-top: 18px
  .hero
    &-container
      padding-top: 0
      background-position: 80% 0%
      max-width: 100%
      min-height: 899px
      text-align: center
      padding-left: 0
      background-image: linear-gradient(to bottom,rgba(220,219,217, 0),rgba(220,219,217, 100)), url(../img/hero-bg.png)
    &__hashtag
      text-align: center
    &__title
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px
      letter-spacing: 0.2px
      text-align: center
      margin-top: 23px
    &__description
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      max-width: 280px
      margin-bottom: 23px
    &__button
      margin-bottom: 30px
      font-size: 16px
      line-height: 22px
    &__text
      transform: translateY(75%)
      text-align: -webkit-center
    &__item
      margin-right: 17px
      &--first, &--second
        margin-bottom: 15px
    &__icon
      width: 24px
      height: 24px

@media (max-width: 320px)
  .hero
    &__button
      margin-bottom: 16px
  .collection
    &-container
      max-width: 100%
  .trending
    padding-top: 77px
    &__category
      &-wrapper
        margin-bottom: 36px
    &__item
      margin-right: 27px
    &__photos
      &-title
        margin: 0
        margin-top: 13px
      &-item
        margin-bottom: 21px
    &__shopping-icon
      width: 14px
      height: 32px
    &__photos
      &-item--last
        padding-top: 41px
    &__last-item
      &--description
        font-size: 17px
        line-height: 20px
    &__last-logo
      width: 25px
      margin-bottom: 16px
