@media (max-width: 1200px)
  .container,
  .collection-container,
  .trending-container,
  .stories__container,
  .newsletter-container,
  .footer-container,
  .greetings-container
    max-width: 960px
  .hero
    &-container
      max-width: 1200px
      padding-left: 45px

  .swiper
    &-container
      width: 850px
@media (max-width: 992px)
  .container,
  .collection-container,
  .trending-container,
  .reviews-container,
  .greetings-container,
  .newsletter-container,
    max-width: 700px
  .footer-container
    max-width: 700px
  .stories__container,
    max-width: 95%
  .hero
    &-container
      max-width: 900px
      padding-left: 50px
  .navbar
    &__link
      margin-right: 20px
  .collection
    padding-top: 77px
    &__wrapper
      flex-wrap: wrap
    &__photos
      margin-right: 0
      margin-bottom: 32px
    &__title
      white-space: nowrap
      margin-bottom: 25px
    &__text
      max-width: 672px
  .swiper
    &-container
      width: 660px
      margin: auto
  .stories

    &-wrapper
      display: block
      padding-top: 88px
    &__info
      width: 100%
      text-align: center
      margin-bottom: 36px
      display: flex
      flex-direction: column
      align-items: center
    &__title
      margin-bottom: 16px
      margin-top: 24px
    &__subtitle
      width: 568px
      margin: auto
      margin-bottom: 36px
    &__items
      margin: auto
  .newsletter
    &-wrapper
      flex-direction: column
    &__text
      margin-bottom: 56px
      text-align: center
  .footer
    &-menu
      flex-wrap: wrap
    &__nav
      grid-template-columns: repeat(2, 165px)
  .modal
    &__container
      flex-direction: row-reverse
      flex-wrap: wrap
      align-items: center
    &__button
      order: 5
      margin-top: 15px
    &__dialog
      padding-left: 50px
      padding-right: 50px

@media  ( max-width: 690px )
  .stories
    &__container
      max-width: 90%
    &__items
      width: 73%
    &__subtitle
      width: 100%
    &-slider
      &_left
        width: 280px
        margin: 0
        margin-bottom: 10px
      &_right
        width: 280px
        margin: 0
      &_info
        width: 270px
      &_title
        font-weight: 500
        font-size: 20px
        line-height: 24px
        margin-bottom: 16px
      &_next
        font-weight: 600
        font-size: 16px
        line-height: 22px
      &_img
        width: 270px
      &_item
        display: flex
        flex-direction: column
        align-items: center
  .swiper
    &-container
      width: 100%
  .stories
    &-slider
      &_info
        top: -18px
      &_title
        width: 266px
        padding-left: 22px
    &-wrapper
      padding-top: 40px
    &__info
      margin-bottom: 18px
    &__title
      font-weight: bold
      font-size: 28px
      line-height: 36px
      &_visible
        display: none
    &__subtitle
      font-size: 16px
      line-height: 28px
    &__button
      width: 48px

@media (max-width: 768px)
  body
    padding-top: 94px
  .header
    padding-bottom: 38px
    &__mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 150
      &--navbar-hidden
        z-index: 100
    &__logo
      &--hidden
        display: none
  .container
    max-width: 85%
  .collection
    padding-top: 75px
    &-container
      max-width: 87%
  .hero
    &-container
      max-width: 87%
  .reviews
    &-container
      max-width: 87%
  .footer
    &-container
      max-width: 87%
  .greetings
    &-container
      max-width: 87%
  .trending-container
    max-width: 636px
  .navbar
    display: none
    position: fixed
    left: 0
    top: 0
    right: 0
    top: 87px
    &--visible
      padding-left: 24px
      display: block
      display: flex
      flex-direction: column
      align-items: start
      overflow: auto
    &__link
      &--visible
        margin-bottom: 20px
    &__menu-button
      display: flex
      width: 22px
      height: 18px
      padding: 0
      align-items: center
      flex-direction: column
      justify-content: space-between
      border: none
      cursor: pointer
      outline: none
      color: black
      background-color: #fff
      &--hidden
        display: none
  .menu-button
    &__line
      background-color: #3A4C66
      width: 22px
      height: 2px
  .hero
    &-container
      max-width: 95%
      padding-left: 20px
      padding-top: 45px
      padding-bottom: 26px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
    &__description
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      max-width: 400px
      margin-bottom: 55px
    &__button
      margin-bottom: 35px
  .collection
    padding-top: 75px
    padding-bottom: 58px
    &__content
      max-width: 100%
    &__title
      white-space: normal
    &__text
      margin-top: 0
  .trending
    padding-top: 19px
    padding-bottom: 39px
    &__category-wrapper
      flex-direction: column
      margin-bottom: 57px
    &__title
      margin-bottom: 28px
    &__photo
      width: 280px
    &__photos
      &-wrapper
        grid-template-columns: repeat(2, 1fr)
        grid-row-gap: 0px
  .reviews-slider
    &__item
      padding-bottom: 40px
    &__text
      max-width: 604px
      max-height: 205px
      margin-bottom: 33px
  .newsletter
    padding-top: 41px
    padding-bottom: 75px
    &__title
      margin-bottom: 14px
    &__text
      margin-bottom: 28px
  .footer
    padding-top: 68px
    padding-left: 12px
    &__nav
      grid-template-columns: repeat(2, 165px)
  .modal
    &__dialog
      width: 75%
      padding: 15px 15px
      overflow-y: auto
      max-height: 100%
    &__input
      font-size: 11px
    &__message
      font-size: 11px
      margin-bottom: 15px
  .stories
    padding-bottom: 58px
    &-wrapper
      padding-top: 78px

@media (max-width: 716px)
  .footer
    &__nav
      margin-top: 30px

@media (max-width: 576px)
  .hero
    &__list
      flex-wrap: wrap
      justify-content: space-evenly
  .collection
    padding-top: 60px
  .trending
    &-container
      max-width: 88%
    &__title
      font-size: 28px
      line-height: 36px
    &__item
      font-size: 16px
      line-height: 22px
      margin-right: 27px
    &__photos
      &-item
        max-height: 234px
        &--last
          width: 140px
          height: 170px
      &-title
        font-size: 16px
        line-height: 20px
    &__photo
      width: 140px
      height: 170px
    &__price
      font-size: 14px
      line-height: 24px
      margin-right: 9px
      &-wrapper
        justify-content: flex-start
    &__photos
      &-item
        margin-bottom: 20px
        &--last
          padding-top: 41px
    &__last-item
      &--description
        font-size: 17px
        line-height: 20px
    &__last-logo
      width: 25px
      margin-bottom: 16px
    &__shopping-icon
      width: 14px
      height: 32px
  .newsletter
    &-container
      max-width: 88%
    &__form
      width: 100%
      max-width: none
@media ( max-height: 487px )
  .modal
    &__dialog
      overflow: auto
      max-height: 100%
  .mobile
    overflow: auto
    max-height: 100%
@media (max-width: 490px)
  .collection
    &__photo--first
      width: 290px
      height: 300px
    &__photo--second, &__photo--third
      width: 138px
      height: 97px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
    &__text
      font-size: 16px
      line-height: 28px
      text-align: center
    &__photos
      flex-wrap: wrap
      justify-content: space-evenly
    &__small-cards
      flex-direction: row
    &__show
      display: none
    &__base-first
      margin-right: 0
      margin-bottom: 14px
    &__base-second
      margin-right: 14px
  .trending
    &-container
      max-width: 92%
  .stories
    &-wrapper
      padding-top: 35px
    &-slider
      &_left
        width: 272px
        margin-right: 0
      &_right
        width: 272px
        margin-right: 0
@media (max-width: 390px)
  .header
    padding-top: 18px
  .hero
    &-container
      padding-top: 0
      background-position: 80% 0%
      max-width: 100%
      min-height: 899px
      text-align: center
      padding-left: 0
      background-image: linear-gradient(to bottom,rgba(220,219,217, 0),rgba(220,219,217, 100)), url(../img/hero-bg.png)
    &__hashtag
      text-align: center
    &__title
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px
      letter-spacing: 0.2px
      text-align: center
      margin-top: 23px
    &__description
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      max-width: 280px
      margin-bottom: 23px
    &__button
      margin-bottom: 30px
      font-size: 16px
      line-height: 22px
    &__text
      transform: translateY(75%)
      text-align: -webkit-center
    &__item
      margin-right: 17px
      &--first, &--second
        margin-bottom: 15px
    &__icon
      width: 24px
      height: 24px
  .reviews
    &-slider
      &__image
        width: 70px
      &__text
        margin-top: 19px
        font-size: 18px
        line-height: 36px
        max-width: 264px
        max-height: 357px
        margin-bottom: 30px
      &__author
        text-align: center
        max-width: 145px
  .newsletter
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 24px
    &__text
      font-size: 16px
      line-height: 28px
    &__input
      padding-right: 20px
    &__button
      display: block
      position: relative
      margin-top: 70px
      margin-left: 3px
      width: 100%
  .footer
    padding-top: 48px
    &__nav
      grid-template-columns: repeat(1, 165px)
    &__info
      order: 1
      margin-top: 48px
    &__menu-group--links
      align-items: center
    &__text
      text-align: center
  .modal
    &__container
      flex-direction: row
    &__dialog
      padding: 25px 25px
  .stories
    margin-bottom: 45px
    &__title
      margin-top: 19px
    &-slider
      &-button
        width: 48px
        height: 48px
@media (max-width: 320px)
  .hero
    &__button
      margin-bottom: 16px
    &__list
      margin-top: 44px
    &__description
      margin-top: -6px
      margin-bottom: 29px
      display: inline-block
    &__title
      margin-top: 29px
    &__link
      padding: 9px 42px
  .collection
    padding-bottom: 50px
    &-container
      max-width: 100%
  .trending
    padding-top: 77px
    &__category
      &-wrapper
        margin-bottom: 36px
    &__item
      margin-right: 27px
    &__photos
      &-title
        margin-top: 7px
        margin-left: 0
      &-item
        margin-bottom: 21px
    &__shopping-icon
      width: 14px
      height: 32px
    &__photos
      &-wrapper
        grid-row-gap: 0px
        grid-column-gap: 0px
      &-item
        &--last
          padding-top: 41px

    &__last-item
      &--description
        font-size: 17px
        line-height: 20px
    &__last-logo
      width: 25px
      margin-bottom: 16px
    &__price
      display: inline-block
      margin-top: -4px
      &-wrapper
        margin-left: 0
  .stories
    padding-bottom: 0px
    &-wrapper
      padding-top: 21px
    &-slider_img
      height: 277px
  .newsletter
    padding-bottom: 113px
    &__description
      font-size: 16px
      line-height: 28px
    &__text
      margin-bottom: 0px
    &__form
      margin-top: 9px
      height: 49px
    &__button
      margin-top: 55px
  .footer
    padding-left: 15px
    padding-top: 26px
    &__nav
      grid-gap: 15px
    &__title
      font-size: 16px
      line-height: 22px
      margin: 0
      margin-bottom: 15px
    &__link
      font-size: 14px
      line-height: 20px
    &__menu-li
      margin-bottom: 16px
    &__text
      margin: 0
      margin-bottom: 17px
    &__logo-link
      margin-bottom: 10px
