*
  box-sizing: border-box

body
  font-family: "Open Sans", sans-serif
  background: #FFFFFF

.container
  max-width: 1140px
  margin: auto

img
  width: 100%

@font-face
  font-family: "HKGrotesk-Regular"
  src: url("../fonts/hkgrotesk-regular-web.woff2") format("woff2"),
  url("../fonts/hkgrotesk-regular-web.woff") format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "HKGrotesk-Medium"
  src: url("../fonts/hkgrotesk-medium-web.woff2") format("woff2"),
  url("../fonts/hkgrotesk-medium-web.woff") format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "HKGrotesk-Light"
  src: url("../fonts/hkgrotesk-light-web.woff2") format("woff2"),
  url("../fonts/hkgrotesk-light-web.woff") format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap
