*
  box-sizing: border-box

body
  font-family: "Open Sans", sans-serif
  font-feature-settings: "locl" 0
  background: #FFFFFF

.container
  max-width: 1140px
  margin: auto

img
  max-width: 100%
  max-height: 100%

@font-face
  font-family: "HKGrotesk"
  src: url("../fonts/hkgrotesk-regular-web.woff2") format("woff2"),
  url("../fonts/hkgrotesk-regular-web.woff") format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "HKGrotesk"
  src: url("../fonts/hkgrotesk-light-web.woff2") format("woff2"),
  url("../fonts/hkgrotesk-light-web.woff") format("woff")
  font-weight: light
  font-style: normal
  font-display: swap

@font-face
  font-family: "HKGrotesk"
  src: url("../fonts/hkgrotesk-bold-web.woff2") format("woff2"),
  url("../fonts/hkgrotesk-bold-web.woff") format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: "HKGrotesk"
  src: url("../fonts/hkgrotesk-medium-web.woff2") format("woff2"),
  url("../fonts/hkgrotesk-medium-web.woff") format("woff")
  font-weight: 900
  font-style: normal
  font-display: swap

.hidden
  overflow: hidden

.none
  display: none

.swiper-pagination-bullet
  width: 5px
  height: 5px

  &-active
    background-color: #183B56

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin-right: 11px

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
  bottom: 4px
